<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wine Details</title>
    <link rel="stylesheet" href="/css/wine-details.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<nav>
    <a th:href="@{/basket}">
        <span class="material-symbols-outlined">shopping_basket</span>
    </a>
</nav>
<header>
    <h1 class="header-contents">Wina gruzińskie</h1>
    <p class="header-contents">
        Odkryj wyjątkowe gruzińskie wina!<br />Poznaj niepowtarzalne smaki
        Gruzji zamknięte w kieliszku!
    </p>
</header>
<main>
    <div class="first-container">
        <section class="georgia-flag">
            <img src="/assets/georgia.jpeg" alt="Flaga Gruzji" />
        </section>
        <section class="description">
            <h2>Gruzińskie Wino – Tradycja Sięgająca Tysiącleci</h2>
            <p>
                Gruzińskie wino to prawdziwy skarb kultury i historii, który od
                wieków zachwyca miłośników wina na całym świecie. Gruzja, nazywana
                kolebką winiarstwa, może poszczycić się jedną z najstarszych
                tradycji produkcji wina, sięgającą aż 8 tysięcy lat wstecz.
                Archeologiczne odkrycia potwierdzają, że to właśnie w Gruzji
                wynaleziono technikę fermentacji winogron w glinianych naczyniach
                zwanych kwewri – metoda ta jest stosowana do dziś i została wpisana
                na listę niematerialnego dziedzictwa kulturowego UNESCO. Unikalność
                gruzińskich win tkwi nie tylko w starożytnej metodzie produkcji, ale
                także w różnorodności lokalnych szczepów winogron, takich jak
                Saperavi, Rkatsiteli czy Mtsvane. Każdy region Gruzji oferuje wina o
                odmiennym charakterze i aromacie, które idealnie odzwierciedlają
                bogactwo gruzińskiej ziemi i tradycji. Dzięki harmonijnemu
                połączeniu wielowiekowej historii, unikalnych technik oraz pasji
                winiarzy, gruzińskie wino jest nie tylko napojem, ale także
                prawdziwą podróżą w czasie i przestrzeni, pozwalającą odkrywać smak
                starożytności w nowoczesnym wydaniu.
            </p>
        </section>
        <section class="georgia-sign">
            <img src="/assets/georgia-sign.jpeg" alt="Herb Gruzji" />
        </section>
    </div>

    <th:block th:if="${errorMessage}">
        <p class="error-message" th:text="${errorMessage}"></p>
    </th:block>

    <th:block th:if="${wine}">
        <div class="wine-details">
            <section class="wine-image">
                <img th:src="@{'/' + ${wine.imagePath}}" th:alt="${wine.name}" />
            </section>
            <section class="wine-description">
                <h2 th:text="${wine.name}"></h2>
                <p id="price" th:text="${wine.price + ' zł'}"></p>
                <p id="explanation" th:text="${wine.description}"></p>
                <p class="fits" th:text="${wine.pairing}"></p>
                <p id="quantity" class="fits"><span th:text="${wine.quantity + ' w magazynie'}"></span></p>
                <form th:action="@{/basket/add}" method="post">
                    <input type="hidden" name="wineId" th:value="${wine.id}">
                    <button type="submit" id="buy-button">Dodaj do koszyka</button>
                </form>
                <section class="additional-info">
                    <h4>DODATKOWE INFORMACJE</h4>
                    <hr />
                    <p>SMAK<span th:text="${wine.flavour}"></span></p>
                    <p>KOLOR<span th:text="${wine.color}"></span></p>
                    <p>KRAJ<span>Gruzja</span></p>
                    <p>SZCZEP<span th:text="${wine.grape}"></span></p>
                    <p>ZAWARTOŚĆ ALKOHOLU<span th:text="${wine.alcoholContent + ' %'}"></span></p>
                    <p>POJEMNOŚĆ<span th:text="${wine.volume + ' ml'}"></span></p>
                    <p>TEMPERATURA PODAWANIA<span th:text="${wine.servingTemperature}"></span></p>
                </section>
            </section>
        </div>
    </th:block>

</main>
<footer>
    <section class="logo">
        <img src="/assets/logo.jpeg" alt="Logo firmy" />
    </section>
    <section class="info">
        <h3>Informacje</h3>
        <p>Regulamin</p>
        <p>Polityka prywatności</p>
    </section>
    <section class="contact-info">
        <h3>Kontakt</h3>
        <p>
            <span class="material-symbols-outlined icon">location_on</span>ul.
            Wymyślona 50, Warszawa
        </p>
        <p>
            <span class="material-symbols-outlined icon">mail</span> kontakt@wineshop.pl
        </p>
        <p>
            <span class="material-symbols-outlined">smartphone</span> +48 123 456 789
        </p>
    </section>
</footer>
</body>
</html>
